/* MOBILE FIRST LAYOUT */
/* This CSS assumes a single column mobile layout at the default and uses media queries to create the desktop page */

/* DEBUG Borders */

/* body  */
.main-background{
    background-image: url("../images/brick-tiles.jpg");
}

.menu-button {
    position: fixed;
    top: 10px;
    right: 10px;

    /* background-color: red; */

    z-index: 200;
    cursor: pointer;
    user-select: none;
}

.wrapper-header {
    background-image: url("../images/elmwood-pharmacy.jpg");
    background-size: cover;
    background-position: center;
    
    /* background-image: url("../images/elmwood-pharmacy.jpg"); */
    background: linear-gradient(rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.247))
    , url("../images/elmwood-pharmacy-120x.jpg") center;
    
    color: white;
    text-shadow: 2px 3px black;
}
#phone-number a {
    text-decoration: none;
    color: white;
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0.295);
}
#address {
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.295);
}

#nav-checkbox {
	position: fixed;
	/* left: 50%; */
	top: -12em;
}
.hamburger {
    background-color: rgba(218, 218, 218, 0.836);
    width: 45px;
    border-radius: 2px;
}

#nav-checkbox:checked ~ nav {
	/* display: none; */
	left: 0;
    top: 0;
}

header h1 {
    margin-top: 35px;
    text-align: center;
}
header h2 {
    text-align: center;
}
header p {
    text-align: center;
}

nav {
    background-color: rgb(72, 58, 64);
    position: fixed;
    top: -16em;
    left: 0;
    width: 100%;
    /* height: 50vh; */

    overflow-y: auto;
    transition: top .25s ease-in;
}

.logo {
    padding-top: 3px;
    color: white;
}

nav li {
    padding-top: 5px;
    padding-bottom: 25px;

    text-decoration: none;
    width: 100%;
}

nav ul {
    width: 100%;
    padding-left: 0;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* width: 100%; */
    margin-top: 15px;

    /* padding: 0 15px 0 15px; */
}

main a {
    text-decoration: none;
}

main section {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;

    padding-bottom: 5px;

    /* drop shadow on section */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
section img {
    max-width: 100%;
}

main h2 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;

    background-color: black;
    color: white;
    max-width: 100%;
}

footer p {

    color: white;
    background-color: rgba(0, 0, 0, 0.76);
    text-align: center;
}



/* $ * $ * $ * $ * $ * $ */

@media (min-width: 1000px) {
    /* ~ ! ~ MENU CSS ~ ! ~ ! ~ */

    body {
        background-color: red;
    }
    .menu-header {
        display: flex;
        justify-content: center;
    }

    .menu-wrapper {
        background-color: rgb(0, 0, 0);
        display: flex;
    }

    /*dynamically generated sections vvv*/
    .menu-section {
        display: flex;
        flex-direction: column;

        background-color: rgb(39, 39, 39);
        flex-basis: 30%;
    }
    .menu-section-header {
        color: white;
        margin: 0;
        margin-top: 5px;
    }

    /*dynamically generated individual item entries vvv*/
    /* see menu.JSON for the DATA SET
    name, price, description
    altdescription, altprice, tags
    */
    .menu-entry {
        background-color: red; /*testing purposes*/

        margin-bottom: 5px;
    }

    .menu-entry p, h3, h4{
        padding: 0;
        margin: 0;
    }
    /* .menu-entry h3{

    }

    .title-with-price-wrapper {

    }
    .menu-item-name {

    }
    .price {

    } */

    .menu-flex-row-75-25 {
        background-color: blue; /*testing purposes*/
        display: flex;
    }
    /* used for menu-item title and alt-description */
    .menu-flex-row-first {
        margin-right: auto;
        flex-basis: 74%;
    }
    /* used for price and alt price vvv */
    .menu-flex-row-second {
        margin-left: auto;
        flex-basis: 24%;
    }
}